<div>
  <a [routerLink]="[ '/routines/list' ]">volver</a>
  <h2>{{routine.name}}</h2>
  <div class="exercises">
    <div class="exercise" *ngFor="let exerciseWithday of routine.training">
      <ng-container *ngFor="let fullExercise of exerciseWithday.exercisesPerDay">

        <h3>{{fullExercise.exercise.name}}</h3>
        <img src={{fullExercise.exercise.image.url}} alt={{fullExercise.exercise.name}} width="150">
        <div class="reps">
          <span>{{fullExercise.sets}} x {{fullExercise.reps}}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="actualUser">
    <button *ngIf="actualUser.user.actualRoutine.routine && actualUser.user.actualRoutine.routine.id!==routine.id"
      (click)="addUserRoutine()">
      <mat-icon>add_circle</mat-icon></button>
  </ng-container>
</div>
