<ul>
  <ng-container *ngFor="let routine of routines">

    <li>
      <span>Objetivo: {{routine.name}}.</span>
      <span>Objetivo: {{routine.objective}}.</span>
      <span>Nivel: {{routine.level}}.</span>
      <ng-container *ngIf="routine.training">
        <ng-container *ngFor="let exerciseWithDay of routine.training">
          <ng-container *ngFor="let fullExercise of exerciseWithDay.exercisesPerDay">
            <span>{{fullExercise.exercise.name}}</span>
          </ng-container>
        </ng-container>
        <div>
          <span (click)="deleteRoutine(routine.id)">❌</span>
          <a [routerLink]="[ 'routine', routine.id ]">
            ✏️
          </a>
        </div>
      </ng-container>
    </li>
  </ng-container>
</ul>
<a class="añadir" [routerLink]="[ 'addRoutine']">Añadir rutina</a>
<a class="añadir" [routerLink]="[ 'createExercise']">Crear jercicio</a>
