<div *ngIf="routine">
  <a [routerLink]="'/adminHome' ">volver a home</a>
  <h2>{{routine.name}}</h2>
  <h3>{{routine.objective}}</h3>

  <div>
    <section *ngFor="let day of routine.training">
      <h3>Día {{day.day}}</h3>
      <ul *ngFor="let fullExercise of day.exercisesPerDay">
        <li>{{fullExercise.exercise.name}}</li>
        <li>{{fullExercise.exercise.muscle}}</li>
        <li><img src={{fullExercise.exercise.image.url}} alt={{fullExercise.exercise.name}} width="150"></li>
        <li>{{fullExercise.sets}} x {{fullExercise.reps}}</li>
      </ul>
      <button (click)="openModal(day.day)">Añadir ejercicio</button>
    </section>
  </div>
</div>

<GymLogic-exercises-list *ngIf="isOpen" (isOpen)="closeModal($event)"></GymLogic-exercises-list>
