<a [routerLink]="'/adminHome' ">volver a home</a>
<form [formGroup]="routineForm" (submit)="handleSubmit()">
  <input type="text" placeholder="Nombre" formControlName="name">
  <input type="number" placeholder="Dias" formControlName="days">
  <input type="text" placeholder="Objetivo" formControlName="objective">
  <select formControlName="level">
    <option selected disabled>Nivel</option>
    <option>principiante</option>
    <option>intermedio</option>
    <option>avanzado</option>
  </select>

  <button type="submit">Siguiente</button>
</form>
<span *ngIf="errorMessage">{{errorMessage}}</span>
